In [1]:
import json
import pandas as pd
import pickle
import numpy as np

In [2]:
classification_cols = ['Ma', 'Ma=', 'Hu', 'Hu=', 'Tu', 'Sim', '5', 'M', 'MT', 'F', 'C', 'G', 'D', 'DT', 'Hew', 'N', 'Dew',
                           'DDew', 'HF', '4', '3', '2', '1', '0', 'W', 'WO', 'B', 'Sy', 'Fel', 'CoH', 'CoH=', 'CoU',
                           'CoU=', 'CoA', 'CoA=', 'CoL', 'CoL=', 'SIB', 'sMa', 'sHu', 'sSim', 's5', 's4', 'Mur', 'CT',
                           'GT', 'BL', 'Bg', 'Y', 'Cm', 'T100', 'xMT', 'xC', 'xG', 'xN', 'xDT', 'Dil', 'VL', 'A', 'Ca',
                           'Bin', 'O', 'Un']

In [3]:
hills_database = pd.read_csv('./DoBIH_v17_3.csv', index_col=0)
db = hills_database[['Name', 'Latitude', 'Longitude', 'Metres', 'Classification']+classification_cols]

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3,25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
db

,Name,Latitude,Longitude,Metres,Classification,Ma,Ma=,Hu,Hu=,Tu,...,xG,xN,xDT,Dil,VL,A,Ca,Bin,O,Un
Number,,,,,,,,,,,,,,,,,,,,,
1,Ben Chonzie,56.453851,-3.992057,931.0,"Ma,M,Sim",1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Creagan na Beinne,56.506927,-4.041692,888.0,"Ma,C,Sim",1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Creag Uchdag,56.465278,-4.098107,879.0,"Ma,C,Sim",1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,Auchnafree Hill,56.454346,-3.934667,789.0,"Ma,C,Sim",1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Shee of Ardtalnaig [Ciste Buide a' Claidheimh],56.491391,-4.064980,759.0,"Ma,G,Sim",1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21450,Pigeon Rock North,54.158563,-6.070387,534.0,"A,s5",0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
21451,Rathmacullig,51.847490,-8.460914,175.0,CoU,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21452,An Chruach Ghorm (mullach thoir) [Croaghgorm E...,54.752542,-8.059764,594.0,s5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21453,Knockboy North Top,51.807208,-9.446277,651.2,"VL,sSim",0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
21454,Caoinkeen SE Top,51.818460,-9.410091,553.5,s5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
db.to_pickle('database.pkl')

In [7]:
pd.read_pickle('database.pkl')

,Name,Latitude,Longitude,Metres,Classification,Ma,Ma=,Hu,Hu=,Tu,...,xG,xN,xDT,Dil,VL,A,Ca,Bin,O,Un
Number,,,,,,,,,,,,,,,,,,,,,
1,Ben Chonzie,56.453851,-3.992057,931.0,"Ma,M,Sim",1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Creagan na Beinne,56.506927,-4.041692,888.0,"Ma,C,Sim",1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Creag Uchdag,56.465278,-4.098107,879.0,"Ma,C,Sim",1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,Auchnafree Hill,56.454346,-3.934667,789.0,"Ma,C,Sim",1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Shee of Ardtalnaig [Ciste Buide a' Claidheimh],56.491391,-4.064980,759.0,"Ma,G,Sim",1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21450,Pigeon Rock North,54.158563,-6.070387,534.0,"A,s5",0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
21451,Rathmacullig,51.847490,-8.460914,175.0,CoU,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21452,An Chruach Ghorm (mullach thoir) [Croaghgorm E...,54.752542,-8.059764,594.0,s5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21453,Knockboy North Top,51.807208,-9.446277,651.2,"VL,sSim",0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
21454,Caoinkeen SE Top,51.818460,-9.410091,553.5,s5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
db.to_hdf('./database.hdf', key='df')

In [14]:
with open('./database.pkl', 'wb') as file:
    pickle.dump(db, file)

In [16]:
db.to_excel('database.xlsx')

In [17]:
db.to_json('database.json')

In [18]:
pd.read_excel('database.xlsx')

,Number,Name,Latitude,Longitude,Metres,Classification,Ma,Ma=,Hu,Hu=,...,xG,xN,xDT,Dil,VL,A,Ca,Bin,O,Un
0,1,Ben Chonzie,56.453851,-3.992057,931.0,"Ma,M,Sim",1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Creagan na Beinne,56.506927,-4.041692,888.0,"Ma,C,Sim",1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Creag Uchdag,56.465278,-4.098107,879.0,"Ma,C,Sim",1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Auchnafree Hill,56.454346,-3.934667,789.0,"Ma,C,Sim",1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Shee of Ardtalnaig [Ciste Buide a' Claidheimh],56.491391,-4.064980,759.0,"Ma,G,Sim",1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21267,21450,Pigeon Rock North,54.158563,-6.070387,534.0,"A,s5",0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
21268,21451,Rathmacullig,51.847490,-8.460914,175.0,CoU,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21269,21452,An Chruach Ghorm (mullach thoir) [Croaghgorm E...,54.752542,-8.059764,594.0,s5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21270,21453,Knockboy North Top,51.807208,-9.446277,651.2,"VL,sSim",0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
21271,21454,Caoinkeen SE Top,51.818460,-9.410091,553.5,s5,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
db.to_parquet('hills_database.parquet.gzip',
              compression='gzip')

In [9]:
pd.read_parquet('hills_database.parquet.gzip')

,Name,Latitude,Longitude,Metres,Classification,Ma,Ma=,Hu,Hu=,Tu,...,xG,xN,xDT,Dil,VL,A,Ca,Bin,O,Un
Number,,,,,,,,,,,,,,,,,,,,,
1,Ben Chonzie,56.453851,-3.992057,931.0,"Ma,M,Sim",1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Creagan na Beinne,56.506927,-4.041692,888.0,"Ma,C,Sim",1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Creag Uchdag,56.465278,-4.098107,879.0,"Ma,C,Sim",1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,Auchnafree Hill,56.454346,-3.934667,789.0,"Ma,C,Sim",1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Shee of Ardtalnaig [Ciste Buide a' Claidheimh],56.491391,-4.064980,759.0,"Ma,G,Sim",1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21450,Pigeon Rock North,54.158563,-6.070387,534.0,"A,s5",0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
21451,Rathmacullig,51.847490,-8.460914,175.0,CoU,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21452,An Chruach Ghorm (mullach thoir) [Croaghgorm E...,54.752542,-8.059764,594.0,s5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21453,Knockboy North Top,51.807208,-9.446277,651.2,"VL,sSim",0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
21454,Caoinkeen SE Top,51.818460,-9.410091,553.5,s5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0